<div class="container">
  <h1> <%= @cocktail.name %> </h1>
  <%= link_to edit_cocktail_path(@cocktail) do %>
    <i class="fa fa-pencil"></i>
  <% end %>
    <%= link_to cocktail_path(@cocktail), method: :delete do %>
      <i class="fa fa-times"></i>
    <% end %>
    <% if (@cocktail.photo == nil)  %>
      <% photo = "https://www.tuxboard.com/photos/2014/10/Cocktails.jpg"   %>
    <%= cl_image_tag photo, height: 300, width: 400, crop: :fill %>
    <% else %>
        <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
    <% end %>
</div>
